@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	transition: .2s linear;
}
/* Background */

body{
	font-family:'Gochi Hand';
}

.hero{
	width: 100%;
	min-height: 100vh;
}



.about-us{
	padding: 30px 0px;
}

.container1{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	background: rgba(149,165,166, 0.5);
	border-radius: 50px;
	backdrop-filter: blur(20px); 
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.flex{
	flex: 0 0 50%;
	max-width: 50%;
	padding: 0 20px;
}

.about-us h2{
	margin-top:10px;
	font-size: 45px;
	margin-bottom: 20px;
	color: white;
	
}

.about-us h3{
	font-size: 22px;
	color: white;
	margin-bottom: 8px;
}

.about-us p{
	font-size: 18px;
	line-height: 1.5;
	color: white;
	margin-bottom: 20px;
}

.about-us img{
	display: block;
	max-width:100%;
	height:auto;
	margin: 0 auto;
	margin-top: 30px;
}

.social-links{
	margin-bottom: 20px;
}

.social-links a{
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
	color: #FFFDD0;
	background-color: #333;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	transition: all 0.4s ease;
}

.social-links a:hover{
	transform: translateY(-5px);
}

@media screen and(max-width: 768px){
	.row{
		flex-direction: column;
	}
	.flex{
		max-width: 100%
	}
	.about-us h2{
		font-size: 31px;
	}
	about-us p{
		font-size: 16px;
	}
	.social-links a{
		width: 25px;
		height: 25px;
		line-height:30px;
		font-size: 14px;
		margin-right: 5px
	}
}