@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family:'Gochi Hand';
}

.container2{
	width:80%;
	margin:50px auto;
}

.contact-box{
	background:white;
	display:flex;
}

.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}

.contact-left h3{
	color: black;
	font-weight: 600;
	margin-bottom: 15px;
}

.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background: #71797E;
	color:black;
}

.contact-right h3{
	color: black;
	font-weight: 600;
	margin-bottom: 15px;
}

h1{
	margin-bottom: 10px;
}

.container p{
	margin-bottom:40px;
}

.input-row{
	display:flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group{
	flex-basis: 45%;
}

input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #CCC;
	outline: none;
	padding-bottom: 5px;
}

textarea{
	width: 100%;
	border: 1px solid #CCC;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
}

label .contact{
	margin-bottom: 6px;
	display: block;
	color: black;
}

button{
	background: orange;
	width: 100px;
	border: none;
	height: 35px;
	color: white;
	outline: none;
	border-radius: 35px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181, 0.3);
}

tr td:first child{
	padding-right: 20px;
}

tr td{
	padding-top: 20px;
}