@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family:'Gochi Hand';
}

.hero{
	width: 100%;
	min-height: 100vh;
}


/*Division of Services*/
.wrapper{
	padding: 0 10%;
	padding-bottom: 10px;
	text-transform:capitalize;
	padding-top: 125px;
}

h1{
	font-size: 45px;
	padding-bottom:15px;
	text-shadow: 0 15px 10px rgba(0,0,0,.2);
	color:#1cc2f4;
}

.container3{
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.box{
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.box img{
	height: 70px;
}

.box h3{
	color: #000;
	padding: 10px 0;
	font-size: 20px;
}

.box p{
	color:black;
	font-size:14px;
	line-height: 1.6;
}

.box:hover{
    transition: 0.5s;
	transform: scale(1.1);
	box-shadow: 0 10px 15px rgba(0,0,0,.3);
}

@media (max-width: 770px){
	.wrapper{
	padding: 20px;
	}
}