@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Gochi+Hand&family=Permanent+Marker&display=swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	
}
/* Background */
html {
  background-color: white;
  background-repeat:no-repeat; 
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body{
	font-family:'Gochi Hand';
}

.hero{
	width: 100%;
	min-height: 100px;
}
/* Navigation bar*/
nav{
	top: 0px;
	background-color: rgb(248, 250, 248);
	height: 80px;
	width: 98.5%;
	margin: 20px;
	opacity: 93%;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between ;
	position: fixed;
	z-index: 10000;

}

label.logo{
	width: 100%;
	font-family: 'Poppins','Gloria Hallelujah';
	color: #1dc2f4;
	font-size:30px;
	font-weight: 900;
	line-height:70px;
	padding: 0 100px;
}

nav ul{
	width: 100%;
	text-align: right;
	margin-right: 30px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin:0 5px;
}

nav ul li a{
	color: black;
	font-size: 17px;
	border-radius: 5px;
	padding: 7px 13px;
	text-transform: uppercase;
}

a.active, a:hover{
	background: #F28C28;
	transition: .5s;
}

.user-pic{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 50px;
	margin-right: 50px;
}

.sub-menu-wrap{
	position: absolute;
	top: 100%;
	right: .1%;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
	max-height: 400px;
}

.sub-menu{
	background-color: rgba(191, 191, 191 ,.6);
	padding: 20px;
}

.user-info{
	display: flex;
	align-items: center;
}

.user-info img{
	width: 60px;
	border-radius: 50%;
	margin-right: 10px;
}

.sub-menu hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: #ccc;
	margin: 15px 0px;
}

.sub-menu-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
	margin: 12px 0px;
}
.sub-menu-link p{
	width: 100%;
}

.sub-menu-link span{
	width: 100%;
	font-size: 22px;
	transition: transform 0.5s;
}

.sub-menu-link img{
	width: 40px;
	padding: 1px;
	margin-right: 15px;
}

.sub-menu-link:hover span{
	transform: translateX(5px);
}

.sub-menu-link:hover p{
	font-weight: 600;
}

nav .login-popup{
	font-family: 'Gochi Hand';
	color: black;
	width: 130px;
	height: 35px;
	border-radius: 5px;
	border: 2px solid #000;
	background: transparent;
	outline: none;
	cursor: pointer;
	font-size: 26px;
	font-weight: 900;
	margin-left: 20px;
	margin-right: 50px;
	transition: .7s;
}

nav .login-popup:hover{
	background-color: #1dc2f4;
	color: black;
}

p a:hover{
	background: transparent;
}

.underline-animation{
	display: inline-block;
	position: relative;
	color: blue;
}
.underline-animation:after{
	content: '';
	 position: absolute;
	 width: 100%;
	 transform: scaleX(0);
	 height: 2px;
	 bottom: 0;
	 left: 0;
	 background-color: orange;
	 transform-origin: bottom right;
	 transition: transform 0.25s ease-out;
}

.underline-animation:hover:after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

@font-face {
	font-family: "Poppins";
	font-weight: normal;
	src: url('https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrFJXUc1NECPY.woff2') format('woff2');
	}
	